[Unit]
Description=service that uses restic to periodically snapshot and backup

[Service]
Type=simple
ExecStart=/opt/restic-service/bin/restic-service auto

[Install]
WantedBy=default.target
